@font-face {
  font-family: GT America;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/gt_america/regular.ttf') format('truetype');
}

@font-face {
  font-family: GT America;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/gt_america/medium.ttf') format('truetype');
}

@font-face {
  font-family: GT America Condensed;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/gt_america/condensed-regular.ttf') format('truetype');
}

@font-face {
  font-family: GT America Condensed;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/gt_america/condensed-medium.ttf') format('truetype');
}

@font-face {
  font-family: GT America Condensed;
  font-weight: 1000;
  font-display: swap;
  src: url('../assets/fonts/gt_america/condensed-black.ttf') format('truetype');
}
