h1 {
  font-family: GT America Condensed;
  @apply text-3xl font-medium;
}

h2 {
  font-family: GT America;
  @apply text-2xl;
}

h3 {
  font-family: GT America;
  @apply text-xl;
}

h4 {
  font-family: GT America;
  @apply text-lg;
}

h6 {
  font-family: GT America;
  @apply text-xs;
}
